.profile-body {
  background-color: #f9fafb;
  margin-left: 1rem;
  margin-right: 1rem;
}
.grid {
  display: grid;
}
h3 {
  font-size: 20px;
  font-weight: 500;
}
.danger-point {
  color: red;
}
.edge-profile {
  padding: 24px;
  /* border: 1px solid black; */
  border-radius: 12px;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15), 0 6px 6px rgba(0, 0, 0, 0.2);
}
.text-right {
  text-align: right;
}
.col-span-6 {
  grid-column: span 6 / span 6;
}
.grid-cols-6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.gap-6 {
  gap: 1.5rem;
}
.w-full {
  width: 100%;
}
.input-control__profile {
  padding: 0 15px;
}
.mt-3 {
  margin-top: 0.7rem;
}
.mt-6 {
  margin-top: 1.5rem;
}
.bar-profile {
  margin-top: 50px;
  margin-bottom: 40px;
  border-bottom: 1px solid #e7e7e8;
}
.px-4 {
  margin: 0;
  padding-left: 1rem;
  padding-right: 1rem;
}
.pb-3 {
  padding-bottom: 30px;
}
.mr-10 {
  margin-right: 10px;
}
.ml-10 {
  margin-left: 10px;
}
.flex-d {
  display: flex;
}
.danger-btn {
  background-color: red;
}
.danger-text {
  font-size: 17px;
  line-height: 20px;
}
.danger-text:first-child {
  margin-bottom: 10px;
}
.danger-btn:focus {
  box-shadow: 0 0 0 3px tomato;
}
.disabled {
  background-color: rgba(255, 0, 0, 0.4);
  cursor: default;
}
.img-look {
  display: flex;
  justify-items: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 2px solid black;
  margin-right: 30px;
}
.img-file-btn {
  cursor: pointer;
  font-size: 15px;
  padding: 7px 10px;
  background-color: #f9fafb;
  border-radius: 15px;
  border: 1px solid silver;
}
.js-image-size {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
@media (min-width: 640px) {
  .sm\:col-span-3 {
    grid-column: span 3 / span 3;
  }
  .sm\:edge-profile {
  }
  .sm\:btn-profile {
    width: auto;
    height: auto;
    padding: 13px 20px;
  }
  .sm\:px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
  .sm\:danger-btn {
    margin: 0 0 0 10px;
  }
}
@media (min-width: 768px) {
  .md\:grid {
    display: grid;
  }
  .md\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }
  .md\:gap-6 {
    gap: 1.5rem;
  }
  .md\:pb-3 {
    padding-bottom: 0;
  }
  .md\:flex-d {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1024px) {
  .lg\:px-36 {
    padding-left: 9rem;
    padding-right: 9rem;
  }
}
@media (min-width: 1280px) {
  /* xl */
}
