.w-full {
  width: 100%;
}
.main-text {
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.edge {
  margin: 30px 0;
  padding: 20px;
  /* border: 1px solid black; */
  border-radius: 12px;
  background-color: white;
  width: 90%;
  box-shadow: 3px 3px 3px gray;
}
.form-control {
  width: 100%;
}
.input-control {
  -webkit-appearance: none;
  height: 3.29412rem;
  width: 100%;
  padding: 1.05882rem 15px 5px;
  font-size: 17px;
  font-weight: 400;
  border-radius: 12px;
  outline: none;
  border: 1px solid #d2d2d7;
}
.input-relative {
  position: relative;
}
.label-control {
  position: absolute;
  top: 20px;
  left: 1.05882rem;
  color: gray;
  transition-timing-function: ease-in;
  transition-duration: 0.125s;
}
.input-control:focus ~ label {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  top: 0.28824rem;
  color: #0071e3;
}
.select-control {
  -webkit-appearance: none;
  background-color: white;
  cursor: pointer;
  padding-right: 4.125rem;
  background-image: var(--icon-down);
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: 16px 12px, calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.margin-bt:first-child {
  margin-top: 30px;
}
.margin-bt {
  margin-bottom: 30px;
}
.sub-text {
  color: var(--red);
  margin-top: 8px;
  margin-left: 15px;
  font-size: 13px;
  font-weight: 500;
}
.text-underline {
  border-bottom: 1px solid black;
}
.bar {
  border-bottom: 1px solid #e7e7e8;
  margin-bottom: 30px;
}
.btn-control {
  height: 3.29412rem;
  width: 100%;
  font-size: 17px;
  font-weight: 400;
  border: none;
  border-radius: 12px;
  background-color: #0071e3;
  cursor: pointer;
  color: white;
  margin-top: 20px;
}
.btn-control:focus,
.input-control:focus {
  box-shadow: 0 0 0 3px #66b1fc;
  -webkit-appearance: none;
}
.non-showing {
  display: none;
}
.error-text {
  color: var(--red);
}
.error-input {
  background-color: rgba(255, 0, 0, 0.05);
  border: 1px solid var(--red);
  box-shadow: 0 0 0 1px var(--red);
  background-image: var(--icon-i);
  background-repeat: no-repeat;
  background-position: right 0.75rem center, center right 2.25rem;
  background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}
.error-input:focus {
  border: 1px solid #d2d2d7;
  background-color: white;
}
.error-input:focus ~ label {
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  top: 0.28824rem;
  color: var(--red);
}
.flex-text {
  position: absolute;
  color: gray;
  font-size: 12px;
  line-height: 1.33337;
  font-weight: 400;
  letter-spacing: -0.01em;
  top: 0.28824rem;
}
