@media (min-width: 640px) {
  .sm\:edge-width {
    width: 60%;
  }
  .sm\:edge {
    padding: 20px 50px;
  }
}
@media (min-width: 768px) {
  /* md */
}
@media (min-width: 1024px) {
  /* lg */
  .lg\:edge-width {
    width: 35%;
  }
}
@media (min-width: 1280px) {
  /* xl */
}
